.header-main-neon {
    height: 109px;
    background-color: $color-orange-neon;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    font-family: Arial;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.left-content {
    text-align: left;
    padding-left: 20px;
}

.left-content h1 {
    font-size: 30px;
    color: $color-white-creamy;
    margin: 0;
}

.left-content p {
    font-size: 20px;
    color: $color-white-creamy;
    margin: 0;
}

.right-content img {
    width: 40px;
    height: 40px;
    padding-right: 20px;
}

.header-items-neon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: $color-white-creamy;
}

.header-item {
    width: 360px;
    height: 89px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $color-white-creamy;
    border-radius: 4px;
    font-family: Arial;
}

.header-rectangle img {
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
}