:root {
    --color-white-creamy: #fdfbf5;
    --color-orange-neo: #ff683f;
    --color-green-lettuce: #4aaf73;
    --color-blue-vinyl: #3e86c1;
    --color-pink-bubblegum: #dc5f7d;
    --color-yellow-mustard: #fad314;
    --color-grey-disabled: #e3e3e3;
    --color-black-the-darkness: #000000;

    --h1: font-size: 48px;
    --h2: font-size: 30px;
    --h3: font-size: 24px;
    --p: font-size: 18px;
    --text-small: size: 14px;
    --p-light: font-size: 18px;
}