/*Botón primario: color interior con letra e ícono en $color-white-creamy*/

.button-primary {
    min-width: 130px;
    height: 40px;
    color: $color-white-creamy;
    padding: 5px 10px;
    /*font-family: futura; Hay que poner la familia de la fuente? O al tener una pattern de tipografías no es necesario?*/
    font-weight: bold;
    cursor: pointer;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 8px;
    background: $color-green-lettuce;
}

/*Botón secundario (contorno): contorno, letra e ícono del mismo color. Interior $color-white-creamy */

.button-secondary {
    min-width: 130px;
    height: 40px;
    color: $color-green-lettuce;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 8px;
    background: $color-white-creamy;
    overflow: hidden;
    border: 1px solid $color-green-lettuce;
}

/*Botón disabled: botón deshabilitido, con posibilidad de que sea relleno o con contorno y color disabled.*/