@import "./colors.scss";
@import "./fonts.scss";
@import "./size-font.scss";

/*
html {
    <button class="button__primary-COLOR">
        <img src="./assets/images" alt="Arrow" class="icon">
    <span class="text">TEXT</span>
    </button>
}
*/
/*Botón primario: relleno de un color main con tipografía en $color-white-creamy*/
.button__primary-orange {
  display: inline-flex;
  align-items: center;
  background-color: $color-orange-neon;
  color: $color-white-creamy;
  font-family: $font-weight-semibold;
  padding: 16px 20px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.button__primary-green {
  display: inline-flex;
  align-items: center;
  background-color: $color-green-lettuce;
  color: $color-white-creamy;
  font-family: $font-weight-semibold;
  padding: 16px 20px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.button__primary-yellow {
  display: inline-flex;
  align-items: center;
  background-color: $color-yellow-mustard;
  color: $color-white-creamy;
  font-family: $font-weight-semibold;
  padding: 16px 20px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.button__primary-blue {
  display: inline-flex;
  align-items: center;
  background-color: $color-blue-vinyl;
  color: $color-white-creamy;
  font-family: $font-weight-semibold;
  padding: 16px 20px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.button__primary-pink {
  display: inline-flex;
  align-items: center;
  background-color: $color-pink-bubblegum;
  color: $color-white-creamy;
  font-family: $font-weight-semibold;
  padding: 12px 16px;
  border: none;
  border-radius: 0 8px 8px 0;
  font-family: $font-text;
  font-size: $h3;
  cursor: pointer;
}

.button__primary-grey {
  display: inline-flex;
  align-items: center;
  background-color: $color-grey-dust;
  color: $color-white-creamy;
  font-family: $font-weight-semibold;
  padding: 6px 12px;
  border: none;
  border-radius: 8px;
  font-family: $font-text;
  font-size: 12px;
  cursor: pointer;
}

/* Botón secundario (contorno): contorno, letra e ícono de un color main e interior $color-white-creamy */

.button__secondary-orange {
  display: inline-flex;
  align-items: center;
  background-color: $color-white-creamy;
  border: 1px solid $color-orange-neon;
  color: $color-orange-neon;
  padding: 16px 20px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.button__secondary-green {
  display: inline-flex;
  align-items: center;
  background-color: $color-white-creamy;
  border: 1px solid $color-green-lettuce;
  color: $color-green-lettuce;
  padding: 16px 20px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.button__secondary-yellow {
  display: inline-flex;
  align-items: center;
  background-color: $color-white-creamy;
  border: 1px solid $color-yellow-mustard;
  color: $color-yellow-mustard;
  padding: 16px 20px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.button__secondary-blue {
  display: inline-flex;
  align-items: center;
  background-color: $color-white-creamy;
  border: 1px solid $color-blue-vinyl;
  color: $color-blue-vinyl;
  padding: 16px 20px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.button__secondary-pink {
  display: inline-flex;
  align-items: center;
  background-color: $color-white-creamy;
  border: 1px solid $color-pink-bubblegum;
  color: $color-pink-bubblegum;
  padding: 12px 16px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.button__secondary-grey {
  display: inline-flex;
  align-items: center;
  background-color: $color-white-creamy;
  border: 1px solid $color-grey-dust;
  color: $color-grey-dust;
  padding: 6px 12px;
  border-radius: 8px;
  font-size: 12px;
  cursor: pointer;
}
