/* Header común superior gris*/
@import "../sass/colors.scss";

.common-header {
  height: 60px;
  background-color: $color-grey-dust;
  display: flex;
  align-items: center;
  padding: 0 36px;
  justify-content: space-between;
}

.logo {
  width: 40px;
  height: 40px;
}

.logo-container {
  padding-right: 36px;
}

.user-container {
  padding-right: 36px;
  display: flex;
  align-items: center;
  font-family: Arial;
}

.user-container p {
  margin: 0;
  color: $color-white-creamy;
  font-size: 16px;
  font-weight: bold;
}

.user-icon {
  width: 24px;
  height: 24px;
  margin-left: 25px;
}
