@import "../sass/colors.scss";
@import "../sass/fonts.scss";

.common-header {
  height: 60px;
  background-color: $color-grey-dust;
  display: flex;
  align-items: center;
  padding: 0 36px;
  justify-content: space-between;
}

.logo {
  width: 40px;
  height: 40px;
}

.logo-container {
  padding-right: 36px;
}

.user-container {
  display: flex;
  font-family: Arial;
}

.user-container p {
  margin: 0;
  color: $color-white-creamy;
  font-size: 16px;
  font-weight: bold;
}

.user-icon {
  width: 40px;
  height: 40px;
  margin-left: 20px;
}

.user-font-title {
  font-size: 16px;
  font-family: $font-title;
}
// Responsive

$layout-breakpoint-768: 768px;

@media (max-width: #{$layout-breakpoint-768}) {
  .logo {
    width: 36px;
    height: 36px;
  }
  .user-icon {
    width: 36px;
    height: 36px;
    margin-left: 20px;
  }
  p.user-font-title {
    font-size: 14px;
  }
}

$layout-breakpoint-700: 700px;

@media (max-width: #{$layout-breakpoint-700}) {
  .logo {
    width: 30px;
    height: 30px;
  }
  .user-icon {
    width: 30px;
    height: 30px;
    margin-left: 15px;
  }
}

$layout-breakpoint-540: 540px;

@media (max-width: #{$layout-breakpoint-540}) {
  .logo {
    width: 24px;
    height: 24px;
  }
  .user-icon {
    width: 24px;
    height: 24px;
    margin-left: 10px;
  }
  p.user-font-title {
    font-size: 12px;
  }
}
