/* Ambas partes del header tienen el mismo css. Está divido en el common header, que es el gris. Y por otro lado, los nav crelacinoado con su className active en el archivo de NavHeader.tsx*/

.common-header {
  height: 60px;
  background-color: #4b4b4b;
  display: flex;
  align-items: center;
  padding: 0 36px;
  justify-content: space-between;
}

.logo {
  width: 40px;
  height: 40px;
}

.logo-container {
  padding-right: 36px;
}

.user-container {
  padding-right: 36px;
  display: flex;
  align-items: center;
  font-family: Arial;
}

.user-container p {
  margin: 0;
  color: #fdfbf5;
  font-size: 16px;
  font-weight: bold;
}

.user-icon {
  width: 24px;
  height: 24px;
  margin-left: 25px;
}
