$h1: font-size: 48px;
$h2: font-size: 30px;
$h3: font-size: 24px;
$p: font-size: 18px;
$text-small: size: 14px;
$p-light: font-size: 18px;

/*--h1: font-size: 48px;
--h2: font-size: 30px;
--h3: font-size: 24px;
--p: font-size: 18px;
--text-small: size: 14px;
--p-light: font-size: 18px;*/