@import "../sass/colors.scss";
@import "../sass/fonts.scss";
@import "../sass/size-font.scss";

:root {
  --fc-list-event-dot-width: 10px;
  --fc-list-event-hover-bg-color: $color-white-creamy;
}

.fc-dayGridMonth-view,
.fc-view,
.fc-daygrid {
  background-color: $color-white-creamy;
  margin: 4rem;
}

.fc-event {
  font-family: $font-text;
}

.fc-col-header-cell-cushion {
  display: inline-block;
  padding: 2px 4px;
  font-family: $font-text;
  color: $color-blue-vinyl;
  border-color: $color-blue-vinyl;
}
.fc-header-toolbar,
.fc-toolbar {
  margin: 2rem 4rem 0 4rem;
}

.fc-toolbar-title {
  font-family: $font-title;
  color: $color-white-creamy;
}

.fc-button-primary {
  font-family: $font-title !important;
  background-color: $color-blue-vinyl !important;
  border: none !important;
}

.fc-header-toolbar {
  margin-top: 4rem;
  left: 0;
  margin-bottom: 0;
  background-color: $color-blue-vinyl;
  padding: 10px;
  border-radius: 12px 12px 0 0;
}

.fc-dayGridMonth-view,
.fc-view,
.fc-daygrid {
  margin: 0 64px 96px 64px;
}
.fc-toolbar-chunk {
  display: flex;
  align-items: center;
}

.fc-toolbar-title {
  font-size: 18px;
  font-weight: bold;
  margin: 0 10px;
}

.fc-prev-button,
.fc-next-button {
  margin: 0 10px;
}

.fc .fc-toolbar.fc-header-toolbar {
  margin-bottom: 0;
}
.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: $color-white-creamy;
  border-bottom: 0.1rem solid;
  border-color: $color-blue-vinyl;
}

.prev-month,
.next-month {
  cursor: pointer;
}

.fc-prev-button,
.fc-next-button {
  background-color: $color-blue-vinyl;
  color: $color-white-creamy;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
}

.fc-daygrid-day-number {
  font-family: $font-title;
  color: $color-blue-vinyl;
  font-size: x-large;
  font-family: $font-title;
  height: 55px;
}

.day {
  padding: 10px;
  border: 0.1rem solid $color-blue-vinyl;
  border-radius: 10px;
  cursor: pointer;
}

// Estilo del modal

.ReactModal__Overlay,
.ReactModal__Overlay--after-open {
  position: fixed;
  inset: 0px;
  background-color: $color-white-creamy;
  z-index: 1;
}

// .ReactModal__Content .ReactModal__Content--after-open .modal .modal-Calendar {
//   z-index: 1;
// }

.modal-Calendar {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  padding: 2rem;
  border: 2px solid $color-blue-vinyl;
  border-radius: 0.3rem;
  background-color: $color-white-creamy;
}

.modal-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem 1rem;
  font-family: $font-title;
  color: $color-blue-vinyl;
}

.modal-content {
  display: flex;
  row-gap: 2rem;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: $color-white-creamy;
  border-radius: 0.3rem;
  outline: 0;
}

.input-modal {
  border-color: $color-blue-vinyl;
  border-radius: 0.2rem;
  font-family: $font-text;
  background-color: $color-white-creamy;
  padding: 0.5rem;
}
.modal-btn-div {
  display: flex;
  gap: 0.2rem;
}

.close-modal {
  cursor: pointer;
}

// Responsive

$layout-breakpoint-700: 700px;

@media (max-width: #{$layout-breakpoint-700}) {
  .fc .fc-toolbar-title {
    font-size: $p;
  }
  .fc-daygrid-day-number {
    font-size: $text-small;
  }
  .fc-event-title .fc-sticky {
    font-size: 12px;
  }
  .fc .fc-daygrid-day-number {
    padding: 0;
  }
  .fc-scrollgrid-sync-inner {
    font-size: $text-small;
  }
}

$layout-breakpoint-600: 600px;

@media (max-width: #{$layout-breakpoint-600}) {
  .fc-daygrid-day-number {
    font-size: 14px;
  }
  .fc .fc-view-harness {
    width: 100%;
  }
  table.fc-col-header {
    width: 100%;
  }
  .fc .fc-toolbar.fc-header-toolbar {
    margin: 24px 24px 0 24px;
  }
  .fc-dayGridMonth-view,
  .fc-view,
  .fc-daygrid {
    margin: 0 24px 64px 24px;
  }
}
