@import "../sass/colors.scss";
@import "../sass/fonts.scss";

:root {
  --fc-list-event-dot-width: 10px;
  --fc-list-event-hover-bg-color: $color-white-creamy;
}

.calendar-container {
  display: block;
  justify-content: center;
  width: 12rem;
  margin: 40px;
  padding: 10px;
  border: 0.1rem solid $color-blue-vinyl;
  border-radius: 10px;
}

.fc-dayGridMonth-view,
.fc-view,
.fc-daygrid {
  background-color: $color-white-creamy;
  margin: 4rem;
}

.fc-col-header-cell-cushion {
  display: inline-block;
  padding: 2px 4px;
  font-family: $font-text;
  color: $color-blue-vinyl;
  border-color: $color-blue-vinyl;
}
.fc-header-toolbar,
.fc-toolbar {
  margin: 2rem 4rem;
}

.fc-toolbar-title {
  font-family: $font-title;
  color: $color-blue-vinyl;
}

.fc-button-primary {
  font-family: $font-text !important;
  background-color: $color-blue-vinyl !important;
  border: none !important;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: $color-white-creamy;
  border-bottom: 0.1rem solid;
  border-color: $color-blue-vinyl;
}

.prev-month,
.next-month {
  cursor: pointer;
}

.fc-prev-button,
.fc-next-button {
  background-color: $color-blue-vinyl;
  color: $color-white-creamy;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
}

.fc-daygrid-day-number {
  font-family: $font-title;
  color: $color-blue-vinyl;
  font-size: x-large;
}

.day {
  padding: 10px;
  border: 0.1rem solid $color-blue-vinyl;
  border-radius: 10px;
  cursor: pointer;
}

// Estilo del modal

.ReactModal__Overlay,
.ReactModal__Overlay--after-open {
  position: fixed;
  inset: 0px;
  background-color: $color-white-creamy;
  z-index: 1;
}

// .ReactModal__Content .ReactModal__Content--after-open .modal .modal-Calendar {
//   z-index: 1;
// }

.modal-Calendar {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  padding: 2rem;
  border: 2px solid $color-blue-vinyl;
  border-radius: 0.3rem;
  background-color: $color-white-creamy;
}

.modal-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem 1rem;
  font-family: $font-title;
  color: $color-blue-vinyl;
}

.modal-content {
  display: flex;
  row-gap: 2rem;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: $color-white-creamy;
  border-radius: 0.3rem;
  outline: 0;
}

.input-modal {
  border-color: $color-blue-vinyl;
  border-radius: 0.2rem;
  font-family: $font-text;
  background-color: $color-white-creamy;
  padding: 0.5rem;
}
.modal-btn-div {
  display: flex;
  gap: 0.2rem;
}

.close-modal {
  cursor: pointer;
}
