@import "../sass/colors.scss";
@import "../sass/fonts.scss";

.createrecipe-inputMealTitle {
  background-color: #ffffff00;
}
.cr-ingredients,
.cr-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 18px;
  border: solid 2px;
  border-radius: 4px;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

.createrecipe-title input {
  width: 100%;
  padding: 10px;
  border: none;
}

.createrecipe-ingedientsAndImage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.cr-ingredients {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 12px;
  width: 100%;
  box-sizing: border-box;
}

.cr-ingredients__list .cr-ingredients__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cr-image {
  flex: 1;
  padding: 12px 18px;
  width: 100%;
  box-sizing: border-box;
  object-fit: cover;
}
.cr-image img {
  width: 200px;
  height: 200px;
}

.cr-selection-btns {
  display: flex;
  justify-content: center;
  column-gap: 10px;
  padding: 32px;
}

.cr-ingredients__item {
  display: flex;
  align-items: center;
  margin-right: auto;
  font-family: $font-text;
  width: 100%;
  box-sizing: border-box;
}

ul .cr-ingredients__ul {
  list-style: circle;
  list-style-type: circle;
}

.cr-ingredients__item input {
  width: 100%;
  box-sizing: border-box;
}
.createrecipe-inputMealTitle,
.createrecipe-preparation,
.createrecipe-notes {
  align-items: center;
  padding: 12px 18px;
  border: solid 2px;
  border-radius: 4px;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  font-size: inherit;
  font-family: inherit;
}

.cr-steps textarea,
.cr-notes textarea {
  width: 100%;
  box-sizing: border-box;
  border: none;
  resize: vertical;
  overflow: auto;
  border-radius: 8px;
  box-shadow: none;
  padding: 10px;
  min-height: 100px;
  background-color: #ffffff00;
}
