@import "../sass/colors.scss";
@import "../sass/fonts.scss";

.widgets-Home {
  display: block;
  margin: auto;
  padding: 32px;
}

.Home_widgetCard {
  display: flex;
  flex-direction: column;
  border: solid 2px $color-grey-disabled;
  border-radius: 16px;
  background-color: $color-white-creamy;
  width: 100%;
  row-gap: 16px;
}

.Home_widgetTitle {
  background-color: $color-orange-neon;
  border: solid 2px $color-orange-neon;
  padding: 12px 45px;
  border-radius: 12px 12px 0 0;
  font-family: $font-title;
  color: $color-white-creamy;
}

.Home_widgetContainer {
  font-family: $font-text;
  font-weight: bold;
  padding: 20px 45px;
  color: $color-grey-dust;
}
.Home_meal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 1px $color-orange-neon;
  background-color: $color-white-creamy;
  color: $color-grey-dust;
  padding: 16px;
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}
.recipe-arrow {
  width: 24px;
  height: 24px;
  color: $color-orange-neon;
  cursor: pointer;
}
.recipe-item {
  display: flex;
  flex-direction: column;
  margin: 12px;
  width: 610px;
  height: 348px;
  border: 2px solid $color-orange-neon;

  border-radius: 8px;
  margin-bottom: 1rem;
  overflow: hidden;
}
.recipe-image {
  width: 100%;
  height: 245px;
  object-fit: cover;
}
.recipe-title {
  color: $color-white-creamy;
  font-family: $font-text;
  font-size: 1.5rem;
  font-weight: bold;
}
.recipe-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-orange-neon;
  padding: 1rem;
  height: calc(100% - 245px);
}

.Home_CalendarAndShoppingList {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-content: center;
  margin-top: 32px;
}
