@import "../sass/colors.scss";
@import "../sass/fonts.scss";

.widgets-Home {
  display: block;
  margin: auto;
  padding: 32px;
}

.Home_widgetCard {
  display: flex;
  flex-direction: column;
  border: solid 2px $color-grey-disabled;
  border-radius: 16px;
  background-color: $color-white-creamy;
  width: 100%;
  row-gap: 16px;
}

.Home_widgetTitle {
  background-color: $color-orange-neon;
  border: solid 2px $color-orange-neon;
  padding: 12px 45px;
  border-radius: 12px 12px 0 0;
  font-family: $font-title;
  color: $color-white-creamy;
}

.Home_widgetContainer {
  font-family: $font-text;
  font-weight: bold;
  padding: 20px 45px;
  color: $color-grey-dust;
}

.Home_lastRecipes__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  overflow-x: scroll;
}

.Home_meal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 1px $color-orange-neon;
  background-color: $color-white-creamy;
  color: $color-grey-dust;
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.recipe-arrow {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.recipe-item {
  display: flex;
  flex-direction: column;
  border: 2px solid $color-grey-disabled;
  border-radius: 8px;
  margin-bottom: 1rem;
  overflow: hidden;
  width: calc(33% - 1rem);
}

.recipe-image {
  width: 100%;
  object-fit: cover;
  height: 150px;
}

.recipe-title {
  color: $color-orange-neon;
  font-family: $font-text;
  font-size: 20px;
  font-weight: bold;
}

.recipe-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-white-creamy;
  padding: 1rem;
}

.Home_CalendarAndShoppingList {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-content: center;
  gap: 6px;
  margin-top: 32px;
}

// Responsive

$layout-breakpoint-768: 768px;

@media (max-width: #{$layout-breakpoint-768}) {
  .Home_CalendarAndShoppingList {
    display: flex;
    flex-direction: column;
  }
}

$layout-breakpoint-760: 760px;

@media (max-width: #{$layout-breakpoint-760}) {
  h3 {
    font-size: 16px;
  }
  span.recipe-title {
    font-size: 16px;
  }
  .Home_meal {
    font-size: 16px;
  }
}

$layout-breakpoint-650: 650px;

@media (max-width: #{$layout-breakpoint-650}) {
  span.recipe-title {
    font-size: 14px;
  }
  .recipe-arrow {
    width: 24px;
  }
}

$layout-breakpoint-560: 560px;

@media (max-width: #{$layout-breakpoint-560}) {
  h3 {
    font-size: 14px;
  }
  span.recipe-title {
    font-size: 14px;
  }
  .Home_meal {
    font-size: 14px;
  }
  li {
    font-size: 14px;
  }
  .Home_lastRecipes__container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow-x: scroll;
  }
  .recipe-item {
    flex: 0 0 auto; // Asegura que los elementos no se reduzcan y se mantengan en fila
    width: 70%; // Ajusta el ancho según sea necesario
    margin-right: 10px; // Añade espacio entre los elementos
  }
}

$layout-breakpoint-425: 425px;

@media (max-width: #{$layout-breakpoint-425}) {
  h3 {
    font-size: 12px;
  }
  span.recipe-title {
    font-size: 12px;
  }
  .Home_meal {
    font-size: 12px;
  }
  li {
    font-size: 12px;
  }
  .Home_widgetTitle {
    padding: 12px 30px;
  }
  .Home_widgetContainer {
    padding: 12px 30px;
  }
}

$layout-breakpoint-320: 320px;

@media (max-width: #{$layout-breakpoint-320}) {
  .Home_meal {
    font-size: 11px;
  }
  li {
    font-size: 11px;
  }
}
