@import "../sass/colors.scss";
@import "../sass/fonts.scss";

.widgets-Home {
  display: block;
  margin: auto;
  padding: 32px;
}

.Home_widgetCard {
  display: flex;
  flex-direction: column;
  border: solid 2px $color-grey-disabled;
  border-radius: 16px;
  background-color: $color-white-creamy;
  width: 100%;
  row-gap: 16px;
}

.Home_widgetTitle {
  background-color: $color-orange-neon;
  border: solid 2px $color-orange-neon;
  padding: 12px 45px;
  border-radius: 12px 12px 0 0;
  font-family: $font-title;
  color: $color-white-creamy;
}

.Home_widgetContainer {
  font-family: $font-title;
  padding: 90px 45px;
  color: $color-grey-dust;
}

.Home_CalendarAndShoppingList {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-content: center;
  margin-top: 32px;
}
