@import "../sass/colors.scss";
@import "../sass/fonts.scss";

.recipes-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.search-bar {
  display: flex;
  align-items: right;
  margin-bottom: 1rem;

  .search-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }

  input {
    margin-left: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
}

.suggestions {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1rem;

  .suggestion {
    background-color: $color-green-lettuce;
    color: $color-white-creamy;
    font-family: $font-text;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: $color-green-lettuce;
    }
  }
}

.new-recipe-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;

  input,
  textarea {
    padding: 0.5rem;
    border: 1px solid $color-white-creamy;
    border-radius: 4px;
  }
}

.recipe-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;

  .recipe-item {
    display: flex;
    flex-direction: column;
    width: 824px;
    height: 348px;
    border: 2px solid $color-green-lettuce;
    border-radius: 8px;
    margin-bottom: 1rem;
    overflow: hidden;

    .recipe-image {
      width: 100%;
      height: 245px;
      object-fit: cover;
    }

    .recipe-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $color-white-creamy;
      padding: 1rem;
      height: calc(100% - 245px);

      .recipe-title {
        color: $color-green-lettuce;
        font-family: $font-text;
        font-size: 1.5rem;
        font-weight: bold;
      }

      .recipe-arrow {
        width: 36px;
        height: 36px;
        cursor: pointer;
      }
    }
  }

  p {
    padding: 0.5rem;
    color: $color-black-the-darkness;
    font-family: $font-text;
  }
}
