@import "../sass/colors.scss";

.footer {
  display: block;
  border-top: solid 0.1rem;
  border-color: $color-grey-disabled;
  background-color: $color-white-creamy;
  padding: 1.5rem;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  bottom: 0px;
}

.main {
  flex: 1;
  padding: 2rem;
  min-height: 100vh;
}

// Responsive

$layout-breakpoint-700: 700px;

@media (max-width: #{$layout-breakpoint-700}) {
  .footer {
    font-size: 14px;
  }
}

$layout-breakpoint-540: 540px;

@media (max-width: #{$layout-breakpoint-540}) {
  .footer {
    font-size: 12px;
  }
}
