@import "../sass/colors.scss";

.footer {
  border-top: solid 0.1rem;
  border-color: $color-grey-disabled;
  background-color: $color-white-creamy;
  padding: 1.5rem;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}
.sticky-footer {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.main {
  flex: 1;
}
