@import "../../sass/colors.scss";
@import "../../sass/fonts.scss";
@import "../../sass/size-font.scss";

.toolbar {
  display: flex;
  justify-content: center;
  background-color: $color-yellow-mustard;
  padding: 10px;
  border-bottom: 1px solid $color-grey-disabled;
}

.toolbar-button {
  margin: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: $color-grey-dust;
  cursor: pointer;
}

.toolbar-button:hover {
  background-color: $color-white-creamy;
}

.toolbar-button > svg {
  margin-right: 10px;
}

.toolbar-label {
  font-family: $font-text;
  font-size: $text-small;
}

// Responsive

$layout-breakpoint-1270: 1270px;

@media (max-width: #{$layout-breakpoint-1270}) {
  .toolbar {
    justify-content: flex-start;
    white-space: nowrap;
    overflow-x: auto;
  }
  .toolbar-button {
    display: flex;
    flex-direction: column;
  }
}

$layout-breakpoint-950: 950px;

@media (max-width: #{$layout-breakpoint-950}) {
  .toolbar {
    display: none;
  }
}
